# UppercuT
build_output/*
code_drop/*
gems/lib/**/*
SolutionVersion.cs
lib/MoMA/Reports/submit.xml

*.swp
*.obj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]esharper
*.orig
[Uu]pgrade[Ll]og*.xml
[Bb]in*/
[Db]ebug*/
_[Uu]pgrade[Rr]eport_*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*logs*
*logfile*

glob:src/Database/sql/debug/
